CMakeCache.txt
**/**/CMakeFiles
**/**/Makefile
example/inotify_example
source/libinotify-cpp.a
test/unit/inotify_unit_test
Testing/
test/unit/testDirectory/
install_manifest.txt
.idea/
**/build/
cmake-build-debug/